* {
  margin: 0;
  box-sizing: border-box;
}


.app {
  padding-top: 50px;
  padding-left: 120px;
  padding-right: 120px;
  height: 100vh;
  background-color: #F4F6F8;
  display: flex;
  flex-direction: column;

}

.search-bar {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  padding: 20px;
  margin: 25px auto;
  border: 1px solid lightslategray;
}

.search-input-field{
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.search-icon {
  margin-top: 0px;
  border:  1px solid black;
}

.search-input {
  position: relative;
  width: 100%;
  height: 30px;

}

/* .search-input-field::before {
  display: inline-block;
  content: '';
  background-image: url('icons/searchicon.svg');
  border: 1px 0 1px 1px solid black;
  text-align: center;
  height: 30px;
  width: 30px;
  } */


.lists {
  display: flex;
  flex-direction: row;

}

.results {
  width: 49%;
  margin-right: 2%;
  height: auto;
  background-color: #fafafa;
  padding: 15px;
  border: 1px solid lightslategray;


}

.nominations {
  width: 49%;
  height: auto;
  background-color: #fafafa;
  padding: 15px;
  border: 1px solid lightslategray;


}